html {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 15pt;
	background-color: #818181;
	color: #efefef;
	padding: 0px;
	margin: 0;
}

a {
	color: #efefef;
	text-decoration: none;
}

/* start head in every section block - centered */
h1 {
	font-family: 'Megrim', cursive;
	font-size: 15pt;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
}

h1 span {
	border: 2px solid #818181;
	padding: 10px 20px;
	border-radius: 30px;
}
/* end head in every section block - centered */

/* start head in every section block - right date in blog */
h2 {
	font-family: 'Megrim', cursive;
	font-size: 15pt;
	color: #20bcd5;
	text-align: right;
	padding: 30px 0 0 0;
	margin: 0 0 0 0;
}

h2 span {
	border: 2px solid #818181;
	padding: 10px 20px;
	border-radius: 30px;
}
/* end head in every section block - right (e.g. date in blog) */

/* start topic of blog sections */
h3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 28pt;
	color: white;
	text-align: left;
	padding: 0px 0 15px 0;
	margin: 0 0 0 0;
}
/* end topic of blog sections */

/* start font for blog content text */
.textBlog {
	font-family: 'Quicksand', sans-serif;
	font-size: 20pt;
	text-align: justify;
	line-height: 35pt;
	padding: 0;
	margin: 0;
}
/* end font for blog content text */

/* start class for links */
.link {
	text-decoration: underline;
}
/* end class for links */

/* start code tags in blog */
.codeTagJs {
	font-family: 'Quicksand', sans-serif;
	font-size: 10pt;
	text-align: left;
	line-height: 25pt;
	color: white;
	background-color: #f7df1e;
	border-radius: 30px;
	border-color: #f7df1e;
	padding: 3px 10px 5px;
	margin: 0;
}

.codeTagHtml {
	font-family: 'Quicksand', sans-serif;
	font-size: 10pt;
	text-align: left;
	line-height: 25pt;
	color: white;
	background-color: #e34c26;
	border-radius: 30px;
	border-color: #e34c26;
	padding: 3px 10px 5px;
	margin: 0;
}

.codeTagCss {
	font-family: 'Quicksand', sans-serif;
	font-size: 10pt;
	text-align: left;
	line-height: 25pt;
	color: white;
	background-color: #2860ba;
	border-radius: 30px;
	border-color: #2860ba;
	padding: 3px 10px 5px;
	margin: 0;
}

.codeTagAnything {
	font-family: 'Quicksand', sans-serif;
	font-size: 10pt;
	text-align: left;
	line-height: 25pt;
	color: black;
	background-color: #efefef;
	border-radius: 30px;
	border-color: #efefef;
	padding: 3px 10px 5px;
	margin: 0;
}
/* end code tags in blog */

/* start block element */
.section {
	background-color: black;
	color: #efefef;
	padding: 15px 35px 28px 35px;
	margin-bottom: 20px;
	border-radius: 10px;
	transition: 0.5s;
}
/* end block element */

/* start burger menu */
#lines {
	position: absolute;
	top: 25px;
	left: 25px;
	border-bottom: 8px double white;
	border-top: 2px solid white;
	content: '';
	height: 3px;
	width: 19px;
	transition: 0.5s;
}
/* end burger menu */

/* start buttons top right corner for darkmode */
#lightmode {
	position: absolute;
	right: 20px;
	top: 53px;
}

#darkmode {
	position: absolute;
	right: 20px;
	top: 17px;
}
/* end buttons top right corner for darkmode */

/* start sidepanel */

/* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: black; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-family: 'Megrim', cursive;
	font-weight: bold;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #efefef;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
	position: absolute;
	top: -3px;
	right: 20px;
	font-size: 40px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left 0.5s;
	padding: 8px;
	background-color: #818181;
	transition: 0.5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
/* end sidepanel */

/* start section on top of page */
#img-circle {
	border: 3px solid #efefef;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin: auto;
}

#header {
	background-image: linear-gradient(to right, #5c258d, #4389a2);
	color: #efefef;
	font-family: 'Megrim', cursive;
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
	padding: 15px 15px 23px 15px;
	margin-bottom: 20px;
	border-radius: 10px;
	transition: 0.5s;
}

#quote {
	font-family: 'Quicksand', sans-serif;
	font-size: 20pt;
	text-align: right;
	margin-top: 10px;
}
/* end section on top of page */

/* start progress area */
li {
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}

ul p {
	font-family: 'Quicksand', sans-serif;
}

progress {
	width: 70%;
	height: 20px;
	color: #3fb6b2;
	background: #efefef;
}

progress::-webkit-progress-bar {
	background: #efefef;
}

progress::-webkit-progress-value {
	background: #3fb6b2;
}

progress::-moz-progress-bar {
	color: #3fb6b2;
	background: #efefef;
}
/* end progress area */

/* start follow me section */
.contacts img {
	height: 50px;
	width: 50px;
	margin-left: 7px;
	margin-right: 7px;
	/* start transition */
	position: relative;
	top: 0;
	transition: top ease 0.2s;
	/* end transition */
}

.contacts img:hover {
	/* start transition */
	top: -2px;
	/* end transition */
	/* start box shadow */
	box-shadow: 3px 3px 5px 0px rgba(255, 255, 255);
	/* end box shadow */
}

.contacts {
	text-align: center;
}
/* end follow me section */

/* start copyright at end of page */
.copyright {
	font-size: 8pt;
	padding-bottom: 10px;
	color: black;
	position: relative;
	text-align: right;
}
/* end copyright at end of page */

/* start scrollbar */
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}
/* end scrollbar */
